li {
    list-style: none;
    text-decoration: none;
}

a{
    list-style: none;
    text-decoration: none;
    color: white
}

body{
    margin: 0;
    font-family: "Lucida Grande";
}
/*Header*/
header{
    background-color:#3cecc0;
    height: 130px;
    color: #fff;
}

.header-logo{
    float: left;
    font-size: 70px;
    padding: 20px 20px;
}

.header-list li{
    float: right;
    padding: 40px 20px 25px 20px;
    font-size: 30px;
}

/*Main*/
main img{
    height: 400px;
    width: 800px;
    padding: 5px 10px 30px 250px;
}
img{
    border: none;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 550px;
    max-width: 100%;
    float: center;

}

main input{
    width: 300px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;


}

.content{
    text-align: center;
    padding-top: 0;
    padding-bottom: 50px;
    position: relative;
}

button{
    text-align: center;
    position: relative;

}

html {
    transition: background-color 0.4s;
}

.dark-mode {
    background: #2a2a39;
    color: white;
}

.light-mode {
    background: lightgrey;
    color: #2a2a39;
}

.toggle {
    float: right;
    width: 45px;
    height: 25px;
    margin: 31px 25px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background: #f8f3e3;
    color: black;
}

.circle {
    width: 20px;
    height: 20px;
    transform: translateX(2px);
    border-radius: 30px;
    transition: 0.4s;
    position: absolute;
    background: #b53e65;
}

.dark-mode .circle {
    transform: translateX(23px)
}

.toggle-moon, .toggle-sun {
    width: 50%;
}
/*.main{
    background-color: white;
    height: 600px;
    padding: 100px 80px;
}

h1{
    font-size: 120px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contents{
    height: 500px;
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: #f7f7f7;
}

.section-title{
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom:50px;
}

.contents-item{
    float: left;
    margin-right: 40px;
    padding: 10px;
}

.contents-item p{
    font-size:24px;
    margin-top: 30px;
    text-align: center;
}

.contact-form{
    padding-top: 100px;
    background-color:#E6E2DD;
    ;
}
.contact-form input{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-form textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit{
    background: #dee7ec;
    color: #889eab;
}*/

/*main2*/


/*Footer*/
footer{
    background-color:#373A36;
    height: 150px;
    padding: 40px;
    color: #fff;
}

.footer-logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
}

.footer-sosmed{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.sosial-media img{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
}